<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Serhiy Smyslov{% endblock %}</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <link id="theme-style" rel="stylesheet" type="text/css" href=""/>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

    {% block content %}Content{% endblock %}

    <script type="text/javascript" src="js/slider-certificate.js"></script>
    <script type="text/javascript" src="js/color_theme.js"></script>
  </body>
</html>