:root {
    --mainBgColor: #000000;
    --secondaryBgColor: #141313;
  
    --borderColor: #192019;
  
    --mainText: #f8c14a;
    --secondaryText: #f09825;
  
    --themeDotBorder: #fabc36;
  
    --previewBg: rgba(235, 145, 43, 0.6);
    --previewShadow: #ee8b19;
  
    --buttonColor: #e7b614;

    --pointerColor: #f09825;
    --pointerBg: #141313;
  }
  